.signup {
	height: 500px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2e3740;
	color: #435160;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
}

.title {
	font-size: 24pt;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
	color: #1fce6d;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80%;
}

.fields_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.field {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

label {
	margin: 0 10px;
	display: inline-block;
}

input {
	justify-items: flex-end;
	margin: 0 10px;
	background: #2e3740 !important;
	border: 0;
	border-bottom: 1px solid #435160;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

button {
	border: 0;
	margin-top: 20px;
	width: 350px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}

#up {
	background: #1fce6d;
}

#change {
	background: #435160;
}
